@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: #6A3CB5;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background;
    color: var(--text-color);
  }

  h1, h2, h3, h4, h5, h6, p, span, div {
    color: var(--text-color);
  }
}